.body {
  width: 320px;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;

    outline: 1px solid rgba(255, 0, 0, 0.3);
outline-offset: -1px;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}
