.features {
  padding: 0px;
}

.features__item {
  margin-bottom: 26px;
  text-align: left;
  list-style-type: none;
  background-color: #FFFFFF;
}

.features__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-left: 1px;
  margin-bottom: 16px;
}

.features__title--first {
  margin-left: 0px;
  margin-top: 36px;
  margin-bottom: 16px;
}

.features__info {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  margin-left: 1px;
}
