.page-footer {
  min-height: 233px;
}

.page-footer__title {
  margin-top: 39px;
  margin-bottom: 33px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
