.page-header {
  min-height: 668px;
  background-image: url(../../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: -200px 280px;
}

.page-header__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
