.page-main {
  border-top: 1px solid white;
  margin-top: 0px;
}

.page-main__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1px;
  margin-bottom: 30px;
  margin-right: 3px;
}

.page-main__title--form {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 4px;
  margin-bottom: 28px;
  margin-right: -1px;
}

.page-main__title--photo {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1px;
  margin-bottom: 28px;
  margin-left: 6px;
}
