.photo__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin-top: 0;
  margin-bottom: 37px;
  margin-left: 3px;
}

.photo__item {
  border-top: 1px solid @white;
  min-height: 414px;
}

.photo__image {
  margin-top: 23px;
  margin-left: 20px;
}

.photo__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  margin-top: 7px;
  margin-bottom: 0;
  margin-left: 19px;
}

.photo__author {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: #333333;
  margin-top: 1px;
  margin-bottom: 13px;
  margin-left: 19px;
}

.photo__visitors-number {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: #000000;
  margin-top: 13px;
  margin-left: 57px;
  margin-bottom: 14px;
}
