.photos__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin-top: 38px;
  margin-bottom: 61px;
  margin-left: 3px;
}

.photo__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  margin-left: 20px;
}

.photo__author {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: #333333;
  margin-left: 20px;
}

.photo__visitors-number {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: #000000;
  margin-left: 20px;
  margin-bottom: 39px;
}

.photo__image {
  display: block;
  margin: 0 auto;
}
