.reasons__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.reason__header--blue-first {
  padding-top: 30px;
  min-height: 211px;
  background-color: #81B3D2;
  text-align: center;
  text-transform: uppercase;
}

.reason__header--blue {
  padding-top: 30px;
  min-height: 191px;
  background-color: #81B3D2;
  text-align: center;
  text-transform: uppercase;
}

.reason__header--grey {
  padding-top: 30px;
  min-height: 167px;
  background-color: #EEEEEE;
  text-align: center;
  text-transform: uppercase;
}

.reason__title--blue {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.reason__number--blue {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
    color: #FFFFFF;
}

.reason__info--blue {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}

.reason__title--grey {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
}

.reason__number--grey {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
    color: #333333;
}

.reason__info--grey {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.features {
  padding: 0;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 69px;
  margin-right: 21px;
}

.features__item {
  margin-bottom: 26px;
  text-align: left;
  list-style-type: none;
  background-color: #FFFFFF;
}

.feature__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.feature__info {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}
