.reason__header--first {
  position: relative;
  padding-top: 55px;
  min-height: 171px;
  background-color: @blue;
  color: @light-grey;
  text-align: center;
  text-transform: uppercase;
  z-index: 0;

  @media (min-width: @tablet-width) {
    width: 33.33%;
    margin: 0 auto;
    padding: 0;
  }
}

.reason__header--first::before {
  @media (max-width: @mobile-width-only) {
    position: absolute;
    content: url("../img/bg-triangle.svg");
    top: -1px;
    left: 0;
    z-index: 1;
  }
}

.reason__header--second {
  padding-top: 26px;
  min-height: 165px;
  background-color: @blue;
  color: @white;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 33.33%;
    margin: 0 auto;
    padding: 0;
  }
}

.reason__header--grey {
  padding-top: 12px;
  min-height: 156px;
  background-color: @light-grey;
  color: @dark-grey;
  text-align: center;
  text-transform: uppercase;
}

.reason__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 0;

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1px) {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 0;
    &--second {
      width: 150px;
      color: red;
    }
  }
}

.reason__number {
  margin-top: 11px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1px) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    margin-bottom: 0;
  }
}

.reason__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1px) {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 23px;
    margin-bottom: 0;
  }
}

.reason--first {
  display: flex;
  flex-wrap: wrap;
}

.reason--second {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.reason__image {
  display: none;

  &--mobile {
    @media (max-width: @mobile-width-only) {
      display: block;
    }
  }

  &--tablet {
    @media (min-width: @tablet-width) and (max-width: @desktop-width - 1px) {
      display: block;
      width: 66.67%;
    }
  }

  &--desktop {
    @media (min-width: @desktop-width) {
      display: block;
      width: 66.67%;
    }
  }
}

.reason__features {

  @media (max-width: @mobile-width-only) {
    margin-top: 18px;
    margin-bottom: 8px;
    margin-left: 69px;
    margin-right: 21px;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1px) {
    margin: 0;
    display: flex;
    width: 100%;
    min-height: 330px;
  }
}

.reason--grey {
  position: relative;

  @media (max-width: @mobile-width-only) {
    &:not(:first-child)::before {
      position: absolute;
      content: "";
      width: 280px;
      height: 1px;
      top: -1px;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: @grey;
    }
  }

  @media (min-width: @tablet-width) {
    flex-grow: 1;
  }
}
