.review__title-wrapper {
  @media (max-width: @mobile-width-only) {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 112px;
  }
}

.review__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: @dark-grey;

  @media (max-width: @mobile-width-only) {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2px;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1px) {
    margin-top: 33px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    width: 57vw;
  }

  @media (min-width: @desktop-width) {
    margin-top: 33px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    width: 440px;
  }
}

.review__modal {
  position: fixed;
  z-index: 1;

  @media (max-width: @mobile-width-only) {
    box-shadow: 0 10px 10px @grey;
    &--error {
      width: 320px;
      min-height: 280px;
      top: calc((100% - 280px) / 2);
      left: calc((100% - 320px) / 2);
    }

    &--correct {
      width: 320px;
      min-height: 323px;
      top: calc((100% - 323px) / 2);
      left: calc((100% - 320px) / 2);
    }
  }

  @media (min-width: @tablet-width) {
    box-shadow: 0 10px 10px @grey;
    &--error {
      width: 400px;
      min-height: 347px;
      top: calc((100% - 347px) / 2);
      left: calc((100% - 400px) / 2);
    }

    &--correct {
      width: 640px;
      min-height: 347px;
      top: calc((100% - 347px) / 2);
      left: calc((100% - 640px) / 2);
    }
  }
}
