.review-form {
  @media (max-width: @mobile-width-only) {
    min-height: 1671px;
    background-color: @white;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1px) {
    min-height: 1486px;
    background-color: @white;
    display: flex;
    flex-wrap: wrap;
    width: 84.4vw;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: @desktop-width) {
    min-height: 1273px;
    background-color: @white;
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}

.review-form__fieldset {
  border: none;
  display: block;

  @media (max-width: @mobile-width-only) {
    margin-top: 20px;
    margin-bottom: 36px;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1px) {
    width: 84.4vw;
    margin-right: 0;
    margin-left: 0;
    padding: 0;

    &--impression {
      order: -1;
    }

    &--half {
      width: 42.2vw;
    }
  }

  @media (min-width: @desktop-width) {
    width: 960px;
    margin-right: 0;
    margin-left: 0;
    padding: 0;

    &--impression {
      order: -1;
    }

    &--half {
      width: 480px;
    }
  }
}

.review-form__legend {
  @media (max-width: @mobile-width-only) {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-right: auto;
    margin-bottom: 14px;
    margin-left: auto;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1px) {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  @media (min-width: @desktop-width) {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
}

.review-form__label {
  &--contacts {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
  }

  &--responce {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
  }
}

.review-form__input {
  padding: 0;

  &--contacts {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    border: none;
    background-color: @light-grey-info;

    &::placeholder {
      font-family: "PT Sans", "Arial", sans-serif;
      color: @black;
    }
  }

  @media (max-width: @mobile-width-only) {
    &--name {
      width: 230px;
      height: 58px;
      margin-bottom: 20px;
    }

    &--surname {
      width: 192px;
      height: 58px;
      margin-bottom: 20px;
    }

    &--patronymic {
      width: 192px;
      height: 58px;
    }

    &--phone {
      width: 280px;
      height: 58px;
    }

    &--email {
      width: 280px;
      height: 58px;
    }
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1px) {
    &--name {
      width: 28.2vw;
      height: 58px;
      margin-bottom: 20px;
    }

    &--surname {
      width: 23.2vw;
      height: 58px;
      margin-bottom: 20px;
    }

    &--patronymic {
      width: 23.2vw;
      height: 58px;
    }

    &--phone {
      width: 55.5vw;
      height: 58px;
    }

    &--email {
      width: 55.5vw;
      height: 58px;
    }
  }

  @media (min-width: @desktop-width) {
    &--name {
      width: 350px;
      height: 58px;
      margin-bottom: 20px;
    }

    &--surname {
      width: 312px;
      height: 58px;
      margin-bottom: 20px;
    }

    &--patronymic {
      width: 312px;
      height: 58px;
    }

    &--phone {
      width: 257px;
      height: 58px;
    }

    &--email {
      width: 258px;
      height: 58px;
    }
  }
}

.review-form__text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  border: none;
  resize: none;
  background-color: @light-grey-info;

  &::placeholder {
    color: @black;
  }

  @media (max-width: @mobile-width-only) {
    width: 280px;
    min-height: 160px;
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1px) {
    width: 84.4vw;
    min-height: 160px;
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
    min-height: 160px;
    margin: 0 auto;
    padding: 0;
  }
}

.review-form__submit {
  display: block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-color: @blue;
  border: none;
  cursor: pointer;

  @media (max-width: @mobile-width-only) {
    width: 280px;
    height: 58px;
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1px) {
    width: 42.2vw;
    height: 58px;
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 480px;
    height: 58px;
    margin: 0 auto;
    padding: 0;
  }
}

.review-form__remark {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;

  @media (max-width: @mobile-width-only) {
    display: none;
  }
}
