.social__list {
position: relative;
  list-style-type: none;
  display: flex;
}

.social__item {

}



.social__link--twitter::before {
	position: absolute;
	content: "";
	width: 46px;
	height: 48px;
	background-color: #81B3D2;
	top: 0px;
	left: 0px;
}
